{% extends 'base.html.twig' %}

{% block title %}Modifier Événement{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4">Modifier Événement</h1>
                <form method="post" action="{{ path('app_evenement_edit', {'id': evenement.id}) }}" enctype="multipart/form-data">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <button type="submit" class="btn btn-primary">Modifier</button>
                    <a href="{{ path('app_evenement') }}" class="btn btn-secondary">Retour à la liste</a>
                    {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
