{% extends 'base.html.twig' %}

{% block title %}Événement{% endblock %}

{% block body %}

    <table class="table" style="border: 2px solid black; background-color: white;">
        <tbody>
            <tr>
                <th style="color: black;"><strong>ID</strong></th>
                <td style="color: black;"><strong>{{ evenement.id }}</strong></td>
            </tr>
            <tr>
                <td colspan="2" style="border-bottom: 2px solid black;"></td> <!-- Ligne de séparation -->
            </tr>
            <tr>
                <th style="color: black;"><strong>Nom d'événement</strong></th>
                <td style="color: black;"><strong>{{ evenement.nom }}</strong></td>
            </tr>
            <!-- Add additional rows for other event details as needed -->
        </tbody>
    </table>

    <div style="text-align: center;"> <!-- Centrer les liens -->
        <a href="{{ path('app_evenement') }}" style="color: white;">Retour à la liste</a>
        
        <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}" style="color: white;">Modifier</a>
    </div>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
