{% extends 'base1.html.twig' %}

{% block title %}Equipement{% endblock %}

{% block body %}
    <h1>Equipement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipement.id }}</td>
            </tr>
            <tr>
                <th>NomEquipe</th>
                <td>{{ equipement.nomEquipe }}</td>
            </tr>
            <tr>
                <th>Nbr</th>
                <td>{{ equipement.Nbr }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ equipement.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_equipement_admin_index') }}">back to list</a>

    <a href="{{ path('app_equipement_admin_edit', {'id': equipement.id}) }}">edit</a>

    {{ include('equipement_admin/_delete_form.html.twig') }}
{% endblock %}
